<div class="card mb-3">
  <h2 class="card-header h4">
    Favorited Work #<%= favorited_work.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Artwork</dt>
      <dd>
        <% if @favorited_work.artwork.present? %>
          <%= link_to favorited_work.artwork, favorited_work.artwork %>
        <% end %>
      </dd>

      <dt>Creator</dt>
      <dd>
        <% if @favorited_work.creator.present? %>
          <%= link_to favorited_work.creator, favorited_work.creator %>
        <% end %>
      </dd>

      <dt>Favoriter</dt>
      <dd>
        <% if @favorited_work.favoriter.present? %>
          <%= link_to favorited_work.favoriter, favorited_work.favoriter %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back favorited_work, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_favorited_work_url(favorited_work), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to favorited_work, method: :delete, data: { confirm: "Do you really want to delete this favorited_work?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(favorited_work.updated_at) %> ago
  </div>
</div>
