<% was_validated = favorited_work.errors.any? %>

<%= form_with(model: favorited_work, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% artwork_class = "form-control" %>
    <% artwork_was_invalid = favorited_work.errors.include?(:artwork) %>

    <% if was_validated %>
      <% if artwork_was_invalid %>
        <% artwork_class << " is-invalid" %>
      <% else %>
        <% artwork_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :artwork_id %>
    <%= f.collection_select :artwork_id, Artwork.all, :id, :to_s, {}, class: "form-control" %>
    <% if artwork_was_invalid %>
      <% favorited_work.errors.full_messages_for(:artwork).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% creator_class = "form-control" %>
    <% creator_was_invalid = favorited_work.errors.include?(:creator) %>

    <% if was_validated %>
      <% if creator_was_invalid %>
        <% creator_class << " is-invalid" %>
      <% else %>
        <% creator_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :creator_id %>
    <%= f.collection_select :creator_id, Artist.all, :id, :to_s, {}, class: "form-control" %>
    <% if creator_was_invalid %>
      <% favorited_work.errors.full_messages_for(:creator).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% favoriter_class = "form-control" %>
    <% favoriter_was_invalid = favorited_work.errors.include?(:favoriter) %>

    <% if was_validated %>
      <% if favoriter_was_invalid %>
        <% favoriter_class << " is-invalid" %>
      <% else %>
        <% favoriter_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :favoriter_id %>
    <%= f.collection_select :favoriter_id, Artist.all, :id, :to_s, {}, class: "form-control" %>
    <% if favoriter_was_invalid %>
      <% favorited_work.errors.full_messages_for(:favoriter).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
