<%= form_with(model: @prompt, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :artist_id, value: @artist.id %>

  <%= f.submit "Create prompt", class: "btn btn-block btn-outline-secondary" %>
<% end %>
