<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @artist, partial: "card", as: :artist %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_artworks" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_prompts" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_created_works" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_favorited_works" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_favorites" %>
  </div>
</div>
  <!-- Show Page Customization end -->
