<%= form_with(model: @artwork, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <%= f.hidden_field :artist_id, value: current_artist.id %>

  <div class="form-group">
    <%= f.label :title %>

    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dimensions_height %>

    <%= f.text_field :dimensions_height, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dimensions_width %>

    <%= f.text_field :dimensions_width, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :medium_id %>

    <%= f.collection_select :medium_id, MediumType.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :mood_id %>

    <%= f.collection_select :mood_id, Mood.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :prompt_id, value: @prompt.id %>

  <%= f.submit "Create artwork", class: "btn btn-block btn-outline-secondary" %>
<% end %>
