<% was_validated = medium_type.errors.any? %>

<%= form_with(model: medium_type, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% medium_class = "form-control" %>
    <% medium_was_invalid = medium_type.errors.include?(:medium) %>

    <% if was_validated %>
      <% if medium_was_invalid %>
        <% medium_class << " is-invalid" %>
      <% else %>
        <% medium_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :medium %>
    <%= f.text_field :medium, class: medium_class, placeholder: "Enter medium" %>
    <% if medium_was_invalid %>
      <% medium_type.errors.full_messages_for(:medium).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
