<%= form_with(model: @favorited_work, local: true) do |f| %>

  <%= f.hidden_field :artwork_id, value: @artwork.id %>

  <div class="form-group">
    <%= f.label :favoriter_id %>

    <%= f.collection_select :favoriter_id, Artist.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create favorited work", class: "btn btn-block btn-outline-secondary" %>
<% end %>
