<div class="card mb-3">
  <h2 class="card-header h4">
    Artwork #<%= artwork.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @artwork.image, class: "img-fluid" %>
      </dd>

      <dt>Artist</dt>
      <dd>
        <% if @artwork.artist.present? %>
          <%= link_to artwork.artist, artwork.artist %>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= artwork.title %></dd>

      <dt>Description</dt>
      <dd><%= artwork.description %></dd>

      <dt>Dimensions height</dt>
      <dd><%= artwork.dimensions_height %></dd>

      <dt>Dimensions width</dt>
      <dd><%= artwork.dimensions_width %></dd>

      <dt>Medium</dt>
      <dd>
        <% if @artwork.medium.present? %>
          <%= link_to artwork.medium, artwork.medium %>
        <% end %>
      </dd>

      <dt>Mood</dt>
      <dd>
        <% if @artwork.mood.present? %>
          <%= link_to artwork.mood, artwork.mood %>
        <% end %>
      </dd>

      <dt>Prompt</dt>
      <dd>
        <% if @artwork.prompt.present? %>
          <%= link_to artwork.prompt, artwork.prompt %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back artwork, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_artist == @artwork.artist %>
          <%= link_to edit_artwork_url(artwork), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_artist == @artwork.artist %>
          <%= link_to artwork, method: :delete, data: { confirm: "Do you really want to delete this artwork?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(artwork.updated_at) %> ago
  </div>
</div>
