<div class="card mb-3">
  <h2 class="card-header h4">
    Artwork #<%= artwork.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Image</dt>
      <!-- Display image start -->
      <dd>
        <%= cl_image_tag @artwork.image, class: "img-fluid" %>
      </dd>
      <!-- Display image end -->

      <dt>Artist</dt>
      <!-- Display artist_id start -->
      <dd><%= artwork.artist_id %></dd>
      <!-- Display artist_id end -->

      <dt>Title</dt>
      <!-- Display title start -->
      <dd><%= artwork.title %></dd>
      <!-- Display title end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= artwork.description %></dd>
      <!-- Display description end -->

      <dt>Dimensions height</dt>
      <!-- Display dimensions_height start -->
      <dd><%= artwork.dimensions_height %></dd>
      <!-- Display dimensions_height end -->

      <dt>Dimensions width</dt>
      <!-- Display dimensions_width start -->
      <dd><%= artwork.dimensions_width %></dd>
      <!-- Display dimensions_width end -->

      <dt>Medium</dt>
      <!-- Display medium_id start -->
      <dd><%= artwork.medium_id %></dd>
      <!-- Display medium_id end -->

      <dt>Mood</dt>
      <!-- Display mood_id start -->
      <dd><%= artwork.mood_id %></dd>
      <!-- Display mood_id end -->

      <dt>Prompt</dt>
      <!-- Display prompt_id start -->
      <dd><%= artwork.prompt_id %></dd>
      <!-- Display prompt_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back artwork, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link artwork start -->
      <div class="col">
        <%= link_to edit_artwork_url(artwork), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link artwork end -->

      <!-- Delete link artwork start -->
      <div class="col">
        <%= link_to artwork, method: :delete, data: { confirm: "Do you really want to delete this artwork?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link artwork end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(artwork.updated_at) %> ago
  </div>
</div>
